<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Banco de Questões</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/questions">Questões</a></li>
        <li routerLinkActive="active"><a routerLink="/tags">Tags</a></li>
        <li class="dropdown" appDropdown>
          <a style="cursor: pointer;" class="dropdown-toggle" role="button">Gerar<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li routerLinkActive="active"><a routerLink="/listas">Listas</a></li>
            <li routerLinkActive="active"><a routerLink="/provas">Provas</a></li>
          </ul>
        </li>
        <li routerLinkActive="active"><a routerLink="/users">Usuários</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
          <a style="cursor: pointer;" class="dropdown-toggle" role="button">Conta <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer;">Ver detalhes</a></li>
            <li><a style="cursor: pointer;">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
