<h2> Questões </h2>

<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
        <div class="d-flex justify-content-left">
            <label class="col-2 col-form-label" for="ra">Busca: </label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="inputBusca">
            <div class="bt-pesquisa">
                <button class="btn btn-primary mb-2" (click)="onBuscar()">Pesquisar</button>
                <button class="btn btn-primary mb-2" (click)="onLimparInput()">Limpar</button>
            </div>
        </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
      <div *ngFor="let question of filteredQuestions; let i = index">
        <p> {{ question.description }} </p>
      </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="addQuestion()">Adicionar</button>
  </div>
</div>
<hr>
