<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-3">
          <div class="form-group">
            <label for="type">Tipo:</label>
            <select class="form-control" id="type" formControlName="type">
              <option>Subjetiva simples</option>
              <option>Subjetiva com subquestões</option>
              <option>Subjetiva com resolução e resposta ao fim</option>
              <option>Objetiva simples</option>
              <option>Objetiva com afirmações enumeradas</option>
              <option>Objetiva com verdadeiro e falso</option>
              <option>Objetiva com ligações</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Descrição</label>
            <textarea
              type="text"
              id="description"
              class="form-control"
              formControlName="description"
              rows="6"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-check">
            <input
              type="checkbox"
              id="hasImage"
              class="form-check-input"
              formControlName="hasImage">
            <label class="form-check-label" for="hasImage">Possui imagem</label>
          </div>
        </div>
      </div>
      <div *ngIf="form.value.hasImage == true" class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">URL da imagem</label>
            <input
              type="text"
              id="imagePath"
              formControlName="imagePath"
              class="form-control"
              #imagePath>
          </div>
        </div>
      </div>
      <div *ngIf="form.value.hasImage == true" class="row">
        <div class="col-xs-12">
          <img [src]="form.value.imagePath" class="img-responsive">
        </div>
      </div>
      <div *ngIf="form.value.hasImage == true" class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="descriptionAfterImage">Descrição após imagem</label>
            <textarea
              type="text"
              id="descriptionAfterImage"
              class="form-control"
              formControlName="descriptionAfterImage"
              rows="6"></textarea>
          </div>
        </div>
      </div>

      <hr>
      <div *ngIf="form.value.type === 'Subjetiva com subquestões'" class="row">
        <h3>Subquestões</h3>
        <div class="col-xs-12" formArrayName="subquestions">
          <div
            class="row"
            *ngFor="let subquestionCtrl of form.get('subquestions').controls as FormArray; let i = index"
            [formGroupName]="i"
            style="margin-top: 10px;">
            <div class="col-xs-8">
              <input
                type="text"
                class="form-control"
                formControlName="subquestionDescription">
            </div>
            <div class="col-xs-2">
              <button
                type="button"
                class="btn btn-danger"
                (click)="onDeleteSubquestion(i)">X</button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-12">
              <button
                type="button"
                class="btn btn-success"
                (click)="onAddSubquestion()">Adicionar Subquestão</button>
            </div>
          </div>
        </div>
      </div>

      <hr>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="answer">Resposta</label>
            <textarea
              type="text"
              id="answer"
              class="form-control"
              formControlName="answer"
              rows="6"></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!form.valid">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
