<div class="col-md-8 offset-md-2">
  <div class="card card-outline-secondary">
    <div class="card-header">
        <h3 class="mb-0">Questão</h3>
    </div>
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <label class="col-lg-3 col-form-label form-control-label" for="type">Tipo</label>
          <div class="col-lg-9">
            <select class="form-control" id="type" formControlName="type">
              <option>Subjetiva simples</option>
              <option>Subjetiva com subquestões</option>
              <option>Subjetiva com resolução e resposta ao fim</option>
              <option>Objetiva simples</option>
              <option>Objetiva com afirmações enumeradas</option>
              <option>Objetiva com verdadeiro e falso</option>
              <option>Objetiva com ligações</option>
            </select>
          </div>
          <hr>
        <p style="font-weight:bold">Tags</p>
        <div class="col-lg-9" formArrayName="tagsQuestion">
          <button
            type="button"
            class="btn btn-success"
            (click)="onAddTag()">Adicionar Tag</button>
          <div
            class="row"
            *ngFor="let tagQuestionCtrl of form.get('tagsQuestion').controls; let i = index"
            [formGroupName]="i"
            style="margin-top: 10px;">
            <div class="form-inline">
              <label for="tagType">Tipo </label>
              <select class="form-control" id="tagType" formControlName="tagType">
                <option>Disciplina</option>
                <option>Conteúdo</option>
              </select>
              <label for="tagDescription">Tag</label>
              <input
                type="text"
                class="form-control"
                id="tagDescription"
                formControlName="tagDescription">
              <button
                type="button"
                class="btn btn-danger"
                (click)="onDeleteTag(i)">X</button>
            </div>
          </div>
          <hr>
        </div>
        <label class="col-lg-3 col-form-label form-control-label" for="description">Descrição</label>
        <div class="col-lg-9">
          <textarea
            type="text"
            id="description"
            class="form-control"
            formControlName="description"
            rows="6"></textarea>
        </div>
        <div class="col-lg-9">
          <div class="form-check">
            <input
              type="checkbox"
              id="hasImage"
              class="form-check-input"
              formControlName="hasImage">
            <label class="form-check-label" for="hasImage">Possui imagem</label>
          </div>
        </div>

        <div *ngIf="form.value.hasImage == true">
          <label class="col-lg-9 col-form-label form-control-label" for="imagePath">URL da imagem</label>
          <div class="col-lg-9">
            <input
              type="text"
              id="imagePath"
              formControlName="imagePath"
              class="form-control col-lg-9"
              #imagePath>
          </div>
        </div>
        <div *ngIf="form.value.hasImage == true">
          <div class="col-lg-9">
            <img [src]="form.value.imagePath" class="img-responsive">
          </div>
        </div>
        <div *ngIf="form.value.hasImage == true">
          <label class="col-lg-9 col-form-label form-control-label" for="descriptionAfterImage">Descrição após imagem</label>
          <div class="col-lg-9">
            <textarea
              type="text"
              id="descriptionAfterImage"
              class="form-control"
              formControlName="descriptionAfterImage"
              rows="6"></textarea>
          </div>
        </div>

        <div *ngIf="form.value.type === 'Subjetiva com subquestões'">
          <hr>
          <p style="font-weight:bold">Subquestões</p>
          <div class="col-lg-9" formArrayName="subquestions">
            <button
              type="button"
              class="btn btn-success"
              (click)="onAddSubquestion()">Adicionar Subquestão</button>
            <div
              class="row"
              *ngFor="let subquestionCtrl of form.get('subquestions').controls as FormArray; let i = index"
              [formGroupName]="i"
              style="margin-top: 10px;">
              <div class="col-lg-9">
                <input
                  type="text"
                  class="form-control"
                  formControlName="subquestionDescription">
              </div>
              <div class="col-lg-2">
                <button
                  type="button"
                  class="btn btn-danger"
                  (click)="onDeleteSubquestion(i)">X</button>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="form.value.type === 'Objetiva com afirmações enumeradas' || form.value.type === 'Objetiva com verdadeiro e falso'">
          <hr>
          <p style="font-weight:bold">Afirmações</p>
          <div class="col-lg-9" formArrayName="statements">
            <button
              type="button"
              class="btn btn-success"
              (click)="onAddStatement()">Adicionar Afirmação</button>
            <div
              class="row"
              *ngFor="let statementsCtrl of form.get('statements').controls as FormArray; let i = index"
              [formGroupName]="i"
              style="margin-top: 10px;">
              <div class="col-lg-9">
                <input
                  type="text"
                  class="form-control"
                  formControlName="statementDescription">
              </div>
              <div class="col-lg-2">
                <button
                  type="button"
                  class="btn btn-danger"
                  (click)="onDeleteStatement(i)">X</button>
              </div>
            </div>
            <hr>
          </div>
        </div>
        <div *ngIf="form.value.type === 'Objetiva com ligações'">
          <hr>
          <p style="font-weight:bold">Ligações - Primeira Coluna</p>
          <div class="col-lg-9" formArrayName="statements">
            <button
              type="button"
              class="btn btn-success"
              (click)="onAddStatement()">Adicionar Afirmação</button>
            <div
              class="row"
              *ngFor="let statementsCtrl of form.get('statements').controls as FormArray; let i = index"
              [formGroupName]="i"
              style="margin-top: 10px;">
              <div class="col-lg-9">
                <input
                  type="text"
                  class="form-control"
                  formControlName="statementDescription">
              </div>
              <div class="col-lg-2">
                <button
                  type="button"
                  class="btn btn-danger"
                  (click)="onDeleteStatement(i)">X</button>
              </div>
            </div>
          </div>
          <p style="font-weight:bold">Ligações - Segunda Coluna</p>
          <div class="col-lg-9" formArrayName="statementsConnection">
            <button
              type="button"
              class="btn btn-success"
              (click)="onAddStatementConnection()">Adicionar Afirmação</button>
            <div
              class="row"
              *ngFor="let statementsConnectionCtrl of form.get('statementsConnection').controls as FormArray; let i = index"
              [formGroupName]="i"
              style="margin-top: 10px;">
              <div class="col-lg-9">
                <input
                  type="text"
                  class="form-control"
                  formControlName="statementsConnectionDescription">
              </div>
              <div class="col-lg-2">
                <button
                  type="button"
                  class="btn btn-danger"
                  (click)="onDeleteStatementConnection(i)">X</button>
              </div>
            </div>
            <hr>
          </div>
        </div>
        <div *ngIf="form.value.type === 'Objetiva com afirmações enumeradas' || form.value.type === 'Objetiva com verdadeiro e falso' || form.value.type === 'Objetiva simples' || form.value.type === 'Objetiva com ligações'">
          <hr>
          <p style="font-weight:bold">Alternativas</p>
          <div class="col-lg-9" formArrayName="alternatives">
            <button
              type="button"
              class="btn btn-success"
              (click)="onAddAlternative()">Adicionar Alternativas</button>
            <div
              class="row"
              *ngFor="let alternativesCtrl of form.get('alternatives').controls as FormArray; let i = index"
              [formGroupName]="i"
              style="margin-top: 10px;">
              <div class="col-lg-9">
                <input
                  type="text"
                  class="form-control"
                  formControlName="alternativeDescription">
              </div>
              <div class="col-lg-2">
                <button
                  type="button"
                  class="btn btn-danger"
                  (click)="onDeleteAlternative(i)">X</button>
              </div>
            </div>
            <hr>
          </div>
        </div>
        <hr>
        <div class="form-group">
          <label class="col-lg-3 col-form-label form-control-label" for="answer">Resposta</label>
          <div class="col-lg-9">
            <textarea
              type="text"
              id="answer"
              class="form-control"
              formControlName="answer"
              rows="6"></textarea>
          </div>
        </div>
        <div class="btn-group mr-2" role="group">
          <button class="btn btn-primary" [disabled]="!form.valid" (click)="onSubmit()">
            <i class="fa fa-save fa-fw"></i>
          </button>
          <button class="btn btn-danger" [disabled]="!editMode" (click)="onDelete()">
            <i class="fa fa-trash fa-fw"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
